<div class="landing-page">
    <mat-toolbar color="primary" class="top-bar" style="display: flex; justify-content: space-between;">
      <button mat-button routerLink="/" class="logo">FitShop</button>
    
      <div style="display: flex; align-items: center; gap: 8px;">
        <button class="nav-button" mat-button routerLink="/shop">Shop</button>
        <button class="nav-button" mat-button routerLink="/member">Members</button>
        <button class="nav-button" mat-button routerLink="/blog">Blog</button>
        <button mat-icon-button aria-label="Cart" style="color: white; background-color: transparent; border: 0cap; cursor: pointer;">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button aria-label="Search" style="color: white; background-color: transparent; border: 0cap; cursor: pointer;">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    
  
    <div class="hero-section">
      <div class="hero-content">
        <h1>Fuel Your Fitness</h1>
        <p>Shop the best supplements, gear and apparel</p>
        <button mat-raised-button>Shop Now</button>
      </div>
    </div>
</div>