<div class="shop-page">
  <mat-toolbar class="top-bar">
    <button mat-button routerLink="/" class="logo">FitShop</button>

    <div class="nav-links">
      <button class="nav-button" mat-button routerLink="/shop">Shop</button>
      <!-- <button class="nav-button" mat-button routerLink="/member">Members</button> -->
      <button class="nav-button" mat-button routerLink="/blog">Blog</button>
      <button mat-icon-button aria-label="Cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button aria-label="Search" class="search-button" (click)="toggleSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Profile" routerLink="/login">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="search-dropdown" [class.open]="showSearch">
    <input type="text" placeholder="Search" class="custom-search-input" />
  </div>

  <div class="shop-content">
    <aside class="filters">
      <h3 class="filter-heading">Filteri Po Cijeni</h3>

      <div class="custom-slider">
        <div class="range-inputs">
          <input type="range" [min]="minPrice" [max]="maxPrice" [(ngModel)]="minSelected" (input)="onSliderChange()"
            class="range left" />
          <input type="range" [min]="minPrice" [max]="maxPrice" [(ngModel)]="maxSelected" (input)="onSliderChange()"
            class="range right" />
        </div>
        <div class="range-values">
          <span>{{ minSelected | currency:'$' }}</span>
          <span>{{ maxSelected | currency:'$' }}</span>
        </div>
      </div>

      <h3 class="filter-heading" style="padding-top: 25px;">Kategorije</h3>


      <mat-form-field appearance="fill" class="filter-field">
        <mat-select [(ngModel)]="selectedCategory">
          <mat-option value="">Sve</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </aside>

    <main class="product-grid">
      <mat-card *ngFor="let product of allProducts" class="product-card">
        <img mat-card-image [src]="product.imageUrls[0]" alt="{{ product.name }}">

        <mat-card-content>
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency:'$':'symbol':'1.0-0' }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" class="detail-button">Detaljnije</button>
        </mat-card-actions>
      </mat-card>
    </main>


  </div>
</div>