@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



.shop-page {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  .top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 8px;

      .nav-button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
      }

      button[mat-icon-button] {
        color: white;
        background-color: transparent;
        cursor: pointer;
        border: none;
      }
    }
  }

  .search-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 0 16px;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;

    &.open {
      max-height: 300px;
      opacity: 1;
      padding: 32px;
      box-sizing: border-box;
    }

    .custom-search-input {
      width: calc(100% - 40px);
      font-size: 2rem;
      padding: 16px 20px;
      border: none;
      border-bottom: 3px solid #000;
      background: transparent;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-bottom-color: #155a9c;
      }

      &::placeholder {
        color: #999;
        font-size: 1.8rem;
      }
    }

  }

  .shop-content {
    display: flex;
    margin-top: 64px;
    min-height: calc(100vh - 64px);

    .filters {
      width: 250px;
      background-color: #f9f9f9;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-right: 1px solid #ddd;

      .filter-heading {
        font-size: 0.95rem;
        font-weight: 500;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin-bottom: 4px;
      }

      .custom-slider {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 16px;

        .slider-label {
          font-size: 0.95rem;
          font-weight: 500;
          color: #666;
          text-transform: uppercase;
          letter-spacing: 0.3px;
        }

        .range-inputs {
          position: relative;
          height: 40px;
          display: flex;
          align-items: center;

          input[type='range'] {
            position: absolute;
            width: 100%;
            top: 0;
            height: 48px;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;
            z-index: 2;
          }

          input[type='range']::-webkit-slider-thumb {
            pointer-events: auto;
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            background: #010101;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid #fff;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 3;
          }

          input[type='range']::-webkit-slider-runnable-track {
            height: 2px;
            background: #ccc;
            border-radius: 2px;
            z-index: 1;
          }

          input.left {
            z-index: 4;
          }

          input.right {
            z-index: 3;
          }
        }

        .range-values {
          display: flex;
          justify-content: space-between;
          font-size: 0.85rem;
          color: #333;
        }
      }


      .filter-field,
      mat-form-field {
        width: 100%;
      }
    }

    .product-grid {
      flex: 1;
      padding: 24px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 21px;
      padding-bottom: 64px;

      .product-card {
        max-width: 250px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 12px;
        border-radius: 12px;
        background-color: #fff;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        img {
          cursor: pointer;
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-radius: 8px;
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.05);
        }

        mat-card-content {
          cursor: pointer;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: center;
          padding-bottom: 6px;

          h3 {
            font-size: 1.1rem;
            font-weight: 600;
          }

          p {
            font-size: 1rem;
            font-weight: 400;
            color: #333;
          }
        }

        mat-card-actions {
          display: flex;
          justify-content: center;
          margin-top: auto;
          opacity: 0;
          transition: opacity 0.3s ease;

          .detail-button {
            padding: 8px 20px;
            font-size: 0.95rem;
            font-weight: 500;
            border-radius: 999px;
            background-color: #222222;
            margin-bottom: 12px;
            cursor: pointer;
            color: white;
            transition: all 0.3s ease;

            &:hover {
              background-color: #155a9c;
              transform: translateY(-2px);
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }
          }
        }

        &:hover mat-card-actions {
          opacity: 1;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .filters {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
      }

      .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      }
    }
  }
}