<div class="login-page">
  <mat-toolbar color="primary" class="top-bar" style="display: flex; justify-content: space-between;">
    <button mat-button routerLink="/" class="logo">FitShop</button>

    <div class="nav-links" style="display: flex; align-items: center; gap: 8px;">
      <button class="nav-button" mat-button routerLink="/shop">Shop</button>
      <button class="nav-button" mat-button routerLink="/blog">Blog</button>
      <button mat-icon-button aria-label="Cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Profile" (click)="toggleLogin()">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="hero-section">
    <div class="hero-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h2>Welcom to FitShop</h2>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>

    </div>
  </div>

  <!-- <div class="login-form-container" *ngIf="showLoginForm">
    
  </div> -->
</div>