<div class="blog-page">

    <mat-toolbar class="top-bar">
        <button mat-button routerLink="/" class="logo">FitShop</button>

        <div class="nav-links">
            <button class="nav-button" mat-button routerLink="/shop">Shop</button>
            <!-- <button class="nav-button" mat-button routerLink="/member">Members</button> -->
            <button class="nav-button" mat-button routerLink="/blog">Blog</button>
            <button mat-icon-button aria-label="Cart">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button aria-label="Profile">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="blog-content">
        <div class="blog-header">
            <h1>Our Fitness Blog</h1>
            <p>Stay inspired with the latest tips on workouts, nutrition, stretching, and weight loss.</p>
        </div>

        <div class="blog-grid">
            <div class="blog-card">
                <img src="assets/full_body_workout.jpg" alt="Workout Program">
                <div class="card-content">
                    <h2>Full-Body Workout You Can Do at Home</h2>
                    <p>Get fit with this simple yet effective full-body workout routine you can do with no equipment.
                    </p>
                </div>
            </div>

            <div class="blog-card">
                <img src="assets/healthy_meal.jpg" alt="Healthy Recipes">
                <div class="card-content">
                    <h2>5 Healthy Meals for Muscle Gain</h2>
                    <p>Delicious and nutritious recipes to help you fuel your body and build lean muscle mass.</p>
                </div>
            </div>

            <div class="blog-card">
                <img src="assets/streching.jpg" alt="Stretching">
                <div class="card-content">
                    <h2>The Benefits of Daily Stretching</h2>
                    <p>Improve your flexibility, reduce soreness, and prevent injury with these daily stretches.</p>
                </div>
            </div>

            <div class="blog-card">
                <img src="assets/weight_loss.jpg" alt="Weight Loss">
                <div class="card-content">
                    <h2>How to Lose Weight the Healthy Way</h2>
                    <p>Learn how to shed pounds without extreme dieting or overtraining with these expert tips.</p>
                </div>
            </div>
        </div>
    </div>

</div>